* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
  }
  
  body {
    background: linear-gradient(
      90deg,
      rgba(48, 16, 255, 1) 0%,
      rgb(250, 100, 255) 100%
    );
    ;
  }
  .title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 25px;
    color: #0064ac;
    font-size: 50px;
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 540px;
    min-height: 610px;
    background: #333641;
    text-align: center;
    margin: 128px auto;
    border-radius: 25px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline:#ff0c41;
    width: 320px;
    background: transparent;
    color: #fff;
  }
  
  .todo-input::placeholder {
    color: #e2e2e2;
  }
  
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer; 
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgb(104, 32, 150) 100%
    );
    color: #fff;
    transition: all 0.9s ease-in-out;
  }
  .todo-button:hover{
    background: linear-gradient(
      90deg,
     rgb(104, 32, 150) 0%, 
     rgba(93, 12, 255, 1) 100%
    );
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }
  .todo-input.edit {
    border: 2px solid #149fff;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    transition: transform .2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 26px;
    padding-right: 55px;
    border-radius: 5px;
    width: 90%;
  }
  /*Changes color every child and resets after the 4th child
  */
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
  }
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgb(9, 91, 150) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  }
  .todo-row:hover{
    transform: scale(1.1);
  }
  .icons {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .delete-icon {
    transition: all 0.2s ease-in-out;
    margin-right: 5px;
    color: #fff;
  }
  .delete-icon:hover{
    transform: scale(1.6);
    border-radius: 50%;
    background-color: #e2e2e2;
  }
  
  .edit-icon {
    transition: all 0.2s ease-in-out;
    color: #fff;
  }
  .edit-icon:hover{
    transform: scale(1.6);
    border-radius: 50%;
    background-color: #e2e2e2;
  }
  .popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(44, 38, 38);

    display:flex;
    justify-content:  center;
    align-items: center;
  }

  .popup-inner{
    position: relative;
    padding:32px;
    width: 100%;
    max-width: 640px;
    background-color:  #FFF;
  }

  .popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
  }